.container.answer-question-form
  - if @question
    .row
      .col-md-12
        %h3= raw(@question.title)
    .row
      .col-md-12
        %pre= raw(@question.content)
    .row
      .col-md-8
      .col-md-4.align-right
        - if @question.user
          = "由#{@question.user.nickname}发表于#{@question.created_at}"
        - else
          = "发表于#{@question.created_at}"
    .row
      .col-md-12
        = "共有#{@question.answers.count}个回答"
    - @question.answers.each do |answer|
      .row
        .col-md-12
          = raw(answer.content)
      .row
        .col-md-8
        .col-md-4
          - if answer.user
            = "由#{answer.user.nickname}发表于#{answer.created_at}"
          - else
            = "发表于#{answer.created_at}"
      %hr
    = form_tag(question_answers_path(@question), method: :post) do 
      .row
        .col-md-12
          = cktext_area 'content', '', :class => 'someclass', :ckeditor => {:language => 'zh'}
      .row
        .col-md-2
          %button{type: "submit", class: "btn btn-warning"} 发表

  - else
    %p 找不到该问题