.container.merchant-list
  - if @merchants
    - @merchants.each do |merchant|
      .row
        .col-md-2
          = image_tag merchant.photo.url, class: 'merchant-image-narrow'
        .col-md-10
          = raw(merchant.name)
          %br
          = raw(merchant.desc)
          %br
          = "网站：#{merchant.link}"
          %br
          = "电话：#{merchant.phone}"