.container
  - if @merchant
    .row
      .col-md-3
        商家名称：
      .col-md-9
        = raw(@merchant.name)
    .row
      .col-md-3
        商家简介：
      .col-md-9  
        = raw(@merchant.desc)
    .row
      .col-md-3
        商家电话：
      .col-md-9  
        = raw(@merchant.phone)
    .row
      .col-md-3
        商家地址：
      .col-md-9  
        = raw(@merchant.addr)
    .row
      .col-md-3
        商家网页：
      .col-md-9
        = raw(@merchant.link)
    .row
      .col-md-3
        头像图片或Logo
      .col-md-9
        = image_tag @merchant.photo.url
  - else
    %p 找不到该商家